In [1]:
import pandas as pd
import torch

In [2]:
# Importing from csvs

df_irr = pd.read_csv("../Data/CSVS/irr_full.csv")
df_pvout = pd.read_csv("../Data/CSVS/pvout_full.csv")

In [3]:
print(df_irr.shape)
print(df_pvout.shape)

(24219204, 4)
(159541752, 4)

In [4]:
df_irr.head()

   latitude  longitude  irradiance  month
0     59.97    -167.58   13.265174      1
1     59.97    -167.54   13.263229      1
2     59.97    -167.50   13.261991      1
3     59.97    -167.46   13.196024      1
4     59.97    -167.42   13.367926      1

In [5]:
df_pvout.head()

    latitude   longitude    pvo  month
0  59.979167 -167.179167  0.947      1
1  59.979167 -167.170833  0.926      1
2  59.979167 -167.162500  0.905      1
3  59.979167 -167.154167  0.884      1
4  59.979167 -167.145833  0.855      1

In [3]:
# Created rounded columns

df_pvout['lat_2dp'] = df_pvout['latitude'].round(2)
df_pvout['lon_2dp'] = df_pvout['longitude'].round(2)

In [4]:
# Group and average columns with identical rounded lats and longs

df_pvout_grouped = df_pvout.groupby(['lat_2dp', 'lon_2dp', 'month']).mean().reset_index()

In [5]:
# Merge the dfs

combined_df = pd.merge(
    df_pvout_grouped, 
    df_irr, 
    left_on=['lat_2dp', 'lon_2dp', 'month'], 
    right_on=['latitude', 'longitude', 'month'],
    how='inner'
)

In [6]:
# Drop unnecessary columns

combined_df = combined_df.drop(columns=['latitude_x', 'longitude_x', 'latitude_y', 'longitude_y'])

In [15]:
combined_df.shape

(5431476, 5)

In [16]:
combined_df.head()

   lat_2dp  lon_2dp  month     pvo  irradiance
0    18.85  -155.74      1  4.7340  194.719617
1    18.85  -155.74      2  4.9785  221.339286
2    18.85  -155.74      3  5.1175  243.341858
3    18.85  -155.74      4  5.2020  264.600658
4    18.85  -155.74      5  5.1510  273.507216

In [9]:
# Add elevation data

import googlemaps
from dotenv import load_dotenv
import os

load_dotenv()
API_KEY = os.getenv("GOOGLE_MAPS_API_KEY")
gmaps = googlemaps.Client(key=API_KEY)
BASE_URL = "https://maps.googleapis.com/maps/api/elevation/json"

In [16]:
# Batch insert elevation data

import requests
import time

unique_coords = combined_df[['lat_2dp', 'lon_2dp']].drop_duplicates().reset_index(drop=True)

def batch_coordinates(df, batch_size=256):
    latitudes = df['lat_2dp'].tolist()
    longitudes = df['lon_2dp'].tolist()
    for i in range(0, len(df), batch_size):
        yield list(zip(latitudes[i:i+batch_size], longitudes[i:i+batch_size]))

def get_elevation_batch(batch, max_retries=2):
    locations = "|".join([f"{lat},{lon}" for lat, lon in batch])
    params = {
        "locations": locations,
        "key": API_KEY
    }
    retries = 0
    while retries <= max_retries:
        try:
            response = requests.get(BASE_URL, params=params, timeout=10)
            if response.status_code == 200:
                data = response.json()
                if data["status"] == "OK":
                    return data["results"]
                else:
                    print(f"[Error] API responded with status: {data['status']}")
                    return None
            else:
                print(f"[HTTP Error] Status code {response.status_code}")
                return None
        except Exception as e:
            print(f"[Retry {retries+1}] Error fetching data: {e}")
            retries += 1
            time.sleep(1.5 * retries)
    print("[Failed] Max retries exceeded for a batch")
    return None

elevation_lookup = {}

total_batches = (len(unique_coords) // 256) + 1
batch_counter = 0

start_time = time.time()

for batch in batch_coordinates(unique_coords):
    batch_counter += 1
    results = get_elevation_batch(batch)
    
    batch_keys = [tuple(coords) for coords in batch]

    if results:
        for coords, res in zip(batch_keys, results):
            elevation_lookup[coords] = res['elevation']
    else:
        for coords in batch_keys:
            elevation_lookup[coords] = None 

    # Progress print every 10 batches
    if batch_counter % 10 == 0 or batch_counter == total_batches:
        elapsed = time.time() - start_time
        print(f"Processed {batch_counter}/{total_batches} batches "
              f"({(batch_counter/total_batches)*100:.2f}%), "
              f"Elapsed time: {elapsed/60:.1f} min")
    
    time.sleep(0.2) 

combined_df['elevation'] = combined_df.apply(
    lambda row: elevation_lookup.get((row['lat_2dp'], row['lon_2dp']), None), axis=1
)

Exception ignored in: <function tqdm.__del__ at 0x1137cf4c0>
Traceback (most recent call last):
  File "/opt/anaconda3/envs/ml-0451/lib/python3.9/site-packages/tqdm/std.py", line 1148, in __del__
    self.close()
  File "/opt/anaconda3/envs/ml-0451/lib/python3.9/site-packages/tqdm/notebook.py", line 279, in close
    self.disp(bar_style='danger', check_delay=False)
AttributeError: 'tqdm_notebook' object has no attribute 'disp'

Processed 10/1769 batches (0.57%), Elapsed time: 0.1 min
Processed 20/1769 batches (1.13%), Elapsed time: 0.1 min
Processed 30/1769 batches (1.70%), Elapsed time: 0.2 min
Processed 40/1769 batches (2.26%), Elapsed time: 0.3 min
Processed 50/1769 batches (2.83%), Elapsed time: 0.3 min
Processed 60/1769 batches (3.39%), Elapsed time: 0.4 min
Processed 70/1769 batches (3.96%), Elapsed time: 0.5 min
Processed 80/1769 batches (4.52%), Elapsed time: 0.5 min
Processed 90/1769 batches (5.09%), Elapsed time: 0.6 min
Processed 100/1769 batches (5.65%), Elapsed time: 0.6 min
Processed 110/1769 batches (6.22%), Elapsed time: 0.7 min
Processed 120/1769 batches (6.78%), Elapsed time: 0.8 min
Processed 130/1769 batches (7.35%), Elapsed time: 0.8 min
Processed 140/1769 batches (7.91%), Elapsed time: 0.9 min
Processed 150/1769 batches (8.48%), Elapsed time: 1.0 min
Processed 160/1769 batches (9.04%), Elapsed time: 1.0 min
Processed 170/1769 batches (9.61%), Elapsed time: 1.1 min
Processed 180/1769 batches (10.18%), Elapsed time: 1.1 min
Processed 190/1769 batches (10.74%), Elapsed time: 1.2 min
Processed 200/1769 batches (11.31%), Elapsed time: 1.3 min
Processed 210/1769 batches (11.87%), Elapsed time: 1.3 min
Processed 220/1769 batches (12.44%), Elapsed time: 1.4 min
Processed 230/1769 batches (13.00%), Elapsed time: 1.5 min
Processed 240/1769 batches (13.57%), Elapsed time: 1.5 min
Processed 250/1769 batches (14.13%), Elapsed time: 1.6 min
Processed 260/1769 batches (14.70%), Elapsed time: 1.6 min
Processed 270/1769 batches (15.26%), Elapsed time: 1.7 min
Processed 280/1769 batches (15.83%), Elapsed time: 1.8 min
Processed 290/1769 batches (16.39%), Elapsed time: 1.8 min
Processed 300/1769 batches (16.96%), Elapsed time: 1.9 min
Processed 310/1769 batches (17.52%), Elapsed time: 2.0 min
Processed 320/1769 batches (18.09%), Elapsed time: 2.0 min
Processed 330/1769 batches (18.65%), Elapsed time: 2.1 min
Processed 340/1769 batches (19.22%), Elapsed time: 2.2 min
Processed 350/1769 batches (19.79%), Elapsed time: 2.2 min
Processed 360/1769 batches (20.35%), Elapsed time: 2.3 min
Processed 370/1769 batches (20.92%), Elapsed time: 2.4 min
Processed 380/1769 batches (21.48%), Elapsed time: 2.4 min
Processed 390/1769 batches (22.05%), Elapsed time: 2.5 min
Processed 400/1769 batches (22.61%), Elapsed time: 2.6 min
Processed 410/1769 batches (23.18%), Elapsed time: 2.6 min
Processed 420/1769 batches (23.74%), Elapsed time: 2.7 min
Processed 430/1769 batches (24.31%), Elapsed time: 2.7 min
Processed 440/1769 batches (24.87%), Elapsed time: 2.8 min
Processed 450/1769 batches (25.44%), Elapsed time: 2.9 min
Processed 460/1769 batches (26.00%), Elapsed time: 2.9 min
Processed 470/1769 batches (26.57%), Elapsed time: 3.0 min
Processed 480/1769 batches (27.13%), Elapsed time: 3.1 min
Processed 490/1769 batches (27.70%), Elapsed time: 3.1 min
Processed 500/1769 batches (28.26%), Elapsed time: 3.2 min
Processed 510/1769 batches (28.83%), Elapsed time: 3.3 min
Processed 520/1769 batches (29.40%), Elapsed time: 3.3 min
Processed 530/1769 batches (29.96%), Elapsed time: 3.4 min
Processed 540/1769 batches (30.53%), Elapsed time: 3.5 min
Processed 550/1769 batches (31.09%), Elapsed time: 3.5 min
Processed 560/1769 batches (31.66%), Elapsed time: 3.6 min
Processed 570/1769 batches (32.22%), Elapsed time: 3.6 min
Processed 580/1769 batches (32.79%), Elapsed time: 3.7 min
Processed 590/1769 batches (33.35%), Elapsed time: 3.8 min
Processed 600/1769 batches (33.92%), Elapsed time: 3.8 min
Processed 610/1769 batches (34.48%), Elapsed time: 3.9 min
Processed 620/1769 batches (35.05%), Elapsed time: 4.0 min
Processed 630/1769 batches (35.61%), Elapsed time: 4.0 min
Processed 640/1769 batches (36.18%), Elapsed time: 4.1 min
Processed 650/1769 batches (36.74%), Elapsed time: 4.2 min
Processed 660/1769 batches (37.31%), Elapsed time: 4.2 min
Processed 670/1769 batches (37.87%), Elapsed time: 4.3 min
Processed 680/1769 batches (38.44%), Elapsed time: 4.4 min
Processed 690/1769 batches (39.01%), Elapsed time: 4.4 min
Processed 700/1769 batches (39.57%), Elapsed time: 4.5 min
Processed 710/1769 batches (40.14%), Elapsed time: 4.5 min
Processed 720/1769 batches (40.70%), Elapsed time: 4.6 min
Processed 730/1769 batches (41.27%), Elapsed time: 4.7 min
Processed 740/1769 batches (41.83%), Elapsed time: 4.7 min
Processed 750/1769 batches (42.40%), Elapsed time: 4.8 min
Processed 760/1769 batches (42.96%), Elapsed time: 4.9 min

Exception ignored in: <function tqdm.__del__ at 0x1137cf4c0>
Traceback (most recent call last):
  File "/opt/anaconda3/envs/ml-0451/lib/python3.9/site-packages/tqdm/std.py", line 1148, in __del__
    self.close()
  File "/opt/anaconda3/envs/ml-0451/lib/python3.9/site-packages/tqdm/notebook.py", line 279, in close
    self.disp(bar_style='danger', check_delay=False)
AttributeError: 'tqdm_notebook' object has no attribute 'disp'

Processed 770/1769 batches (43.53%), Elapsed time: 5.0 min
Processed 780/1769 batches (44.09%), Elapsed time: 5.0 min
Processed 790/1769 batches (44.66%), Elapsed time: 5.1 min
Processed 800/1769 batches (45.22%), Elapsed time: 5.2 min
Processed 810/1769 batches (45.79%), Elapsed time: 5.2 min
Processed 820/1769 batches (46.35%), Elapsed time: 5.3 min
Processed 830/1769 batches (46.92%), Elapsed time: 5.3 min
Processed 840/1769 batches (47.48%), Elapsed time: 5.4 min
Processed 850/1769 batches (48.05%), Elapsed time: 5.5 min
Processed 860/1769 batches (48.62%), Elapsed time: 5.5 min
Processed 870/1769 batches (49.18%), Elapsed time: 5.6 min
Processed 880/1769 batches (49.75%), Elapsed time: 5.7 min
Processed 890/1769 batches (50.31%), Elapsed time: 5.7 min
Processed 900/1769 batches (50.88%), Elapsed time: 5.8 min
Processed 910/1769 batches (51.44%), Elapsed time: 5.9 min
Processed 920/1769 batches (52.01%), Elapsed time: 5.9 min
Processed 930/1769 batches (52.57%), Elapsed time: 6.0 min
Processed 940/1769 batches (53.14%), Elapsed time: 6.1 min
Processed 950/1769 batches (53.70%), Elapsed time: 6.1 min
Processed 960/1769 batches (54.27%), Elapsed time: 6.2 min
Processed 970/1769 batches (54.83%), Elapsed time: 6.3 min
Processed 980/1769 batches (55.40%), Elapsed time: 6.3 min
Processed 990/1769 batches (55.96%), Elapsed time: 6.4 min
Processed 1000/1769 batches (56.53%), Elapsed time: 6.5 min
Processed 1010/1769 batches (57.09%), Elapsed time: 6.5 min
Processed 1020/1769 batches (57.66%), Elapsed time: 6.6 min
Processed 1030/1769 batches (58.22%), Elapsed time: 6.6 min
Processed 1040/1769 batches (58.79%), Elapsed time: 6.7 min
Processed 1050/1769 batches (59.36%), Elapsed time: 6.8 min
Processed 1060/1769 batches (59.92%), Elapsed time: 6.9 min
Processed 1070/1769 batches (60.49%), Elapsed time: 6.9 min
Processed 1080/1769 batches (61.05%), Elapsed time: 7.0 min
Processed 1090/1769 batches (61.62%), Elapsed time: 7.1 min
Processed 1100/1769 batches (62.18%), Elapsed time: 7.1 min
Processed 1110/1769 batches (62.75%), Elapsed time: 7.2 min
Processed 1120/1769 batches (63.31%), Elapsed time: 7.2 min
Processed 1130/1769 batches (63.88%), Elapsed time: 7.3 min
Processed 1140/1769 batches (64.44%), Elapsed time: 7.4 min
Processed 1150/1769 batches (65.01%), Elapsed time: 7.4 min
Processed 1160/1769 batches (65.57%), Elapsed time: 7.5 min
Processed 1170/1769 batches (66.14%), Elapsed time: 7.6 min
Processed 1180/1769 batches (66.70%), Elapsed time: 7.6 min
Processed 1190/1769 batches (67.27%), Elapsed time: 7.7 min
Processed 1200/1769 batches (67.83%), Elapsed time: 7.8 min
Processed 1210/1769 batches (68.40%), Elapsed time: 7.8 min
Processed 1220/1769 batches (68.97%), Elapsed time: 7.9 min
Processed 1230/1769 batches (69.53%), Elapsed time: 8.0 min
Processed 1240/1769 batches (70.10%), Elapsed time: 8.0 min
Processed 1250/1769 batches (70.66%), Elapsed time: 8.1 min
Processed 1260/1769 batches (71.23%), Elapsed time: 8.2 min
Processed 1270/1769 batches (71.79%), Elapsed time: 8.2 min
Processed 1280/1769 batches (72.36%), Elapsed time: 8.3 min
Processed 1290/1769 batches (72.92%), Elapsed time: 8.4 min
Processed 1300/1769 batches (73.49%), Elapsed time: 8.4 min
Processed 1310/1769 batches (74.05%), Elapsed time: 8.5 min
Processed 1320/1769 batches (74.62%), Elapsed time: 8.6 min
Processed 1330/1769 batches (75.18%), Elapsed time: 8.6 min
Processed 1340/1769 batches (75.75%), Elapsed time: 8.7 min
Processed 1350/1769 batches (76.31%), Elapsed time: 8.8 min
Processed 1360/1769 batches (76.88%), Elapsed time: 8.8 min
Processed 1370/1769 batches (77.44%), Elapsed time: 8.9 min
Processed 1380/1769 batches (78.01%), Elapsed time: 9.0 min
Processed 1390/1769 batches (78.58%), Elapsed time: 9.0 min
Processed 1400/1769 batches (79.14%), Elapsed time: 9.1 min
Processed 1410/1769 batches (79.71%), Elapsed time: 9.1 min
Processed 1420/1769 batches (80.27%), Elapsed time: 9.2 min
Processed 1430/1769 batches (80.84%), Elapsed time: 9.3 min
Processed 1440/1769 batches (81.40%), Elapsed time: 9.3 min
Processed 1450/1769 batches (81.97%), Elapsed time: 9.4 min
Processed 1460/1769 batches (82.53%), Elapsed time: 9.5 min
Processed 1470/1769 batches (83.10%), Elapsed time: 9.5 min
Processed 1480/1769 batches (83.66%), Elapsed time: 9.6 min
Processed 1490/1769 batches (84.23%), Elapsed time: 9.7 min
Processed 1500/1769 batches (84.79%), Elapsed time: 9.7 min
Processed 1510/1769 batches (85.36%), Elapsed time: 9.8 min
Processed 1520/1769 batches (85.92%), Elapsed time: 9.8 min
Processed 1530/1769 batches (86.49%), Elapsed time: 9.9 min
Processed 1540/1769 batches (87.05%), Elapsed time: 10.0 min
Processed 1550/1769 batches (87.62%), Elapsed time: 10.0 min
Processed 1560/1769 batches (88.19%), Elapsed time: 10.1 min
Processed 1570/1769 batches (88.75%), Elapsed time: 10.2 min
Processed 1580/1769 batches (89.32%), Elapsed time: 10.2 min
Processed 1590/1769 batches (89.88%), Elapsed time: 10.3 min
Processed 1600/1769 batches (90.45%), Elapsed time: 10.4 min
Processed 1610/1769 batches (91.01%), Elapsed time: 10.4 min
Processed 1620/1769 batches (91.58%), Elapsed time: 10.5 min
Processed 1630/1769 batches (92.14%), Elapsed time: 10.5 min
Processed 1640/1769 batches (92.71%), Elapsed time: 10.6 min
Processed 1650/1769 batches (93.27%), Elapsed time: 10.7 min
Processed 1660/1769 batches (93.84%), Elapsed time: 10.7 min
Processed 1670/1769 batches (94.40%), Elapsed time: 10.8 min
Processed 1680/1769 batches (94.97%), Elapsed time: 10.9 min
Processed 1690/1769 batches (95.53%), Elapsed time: 10.9 min
Processed 1700/1769 batches (96.10%), Elapsed time: 11.0 min
Processed 1710/1769 batches (96.66%), Elapsed time: 11.0 min
Processed 1720/1769 batches (97.23%), Elapsed time: 11.1 min
Processed 1730/1769 batches (97.80%), Elapsed time: 11.2 min
Processed 1740/1769 batches (98.36%), Elapsed time: 11.2 min
Processed 1750/1769 batches (98.93%), Elapsed time: 11.3 min
Processed 1760/1769 batches (99.49%), Elapsed time: 11.4 min
Processed 1769/1769 batches (100.00%), Elapsed time: 11.4 min

In [17]:
combined_df.head()

   lat_2dp  lon_2dp  month     pvo  irradiance    elevation
0    18.85  -155.74      1  4.7340  194.719617 -2015.588257
1    18.85  -155.74      2  4.9785  221.339286 -2015.588257
2    18.85  -155.74      3  5.1175  243.341858 -2015.588257
3    18.85  -155.74      4  5.2020  264.600658 -2015.588257
4    18.85  -155.74      5  5.1510  273.507216 -2015.588257

In [18]:
combined_df.shape

(5431476, 6)

In [20]:
combined_df.to_csv('../Data/CSVS/csvs_combined.csv', index=False, encoding='utf-8')