In [1]:
import pandas as pd
import torch

In [2]:
df_irr = pd.read_csv("../Data/CSVS/irr_full.csv")
df_pvout = pd.read_csv("../Data/CSVS/pvout_full.csv")

In [3]:
print(df_irr.shape)
print(df_pvout.shape)

(24219204, 4)
(159541752, 4)

In [4]:
df_irr.head()

   latitude  longitude  irradiance  month
0     59.97    -167.58   13.265174      1
1     59.97    -167.54   13.263229      1
2     59.97    -167.50   13.261991      1
3     59.97    -167.46   13.196024      1
4     59.97    -167.42   13.367926      1

In [5]:
df_pvout.head()

    latitude   longitude    pvo  month
0  59.979167 -167.179167  0.947      1
1  59.979167 -167.170833  0.926      1
2  59.979167 -167.162500  0.905      1
3  59.979167 -167.154167  0.884      1
4  59.979167 -167.145833  0.855      1

In [7]:
df_pvout['lat_2dp'] = df_pvout['latitude'].round(2)
df_pvout['lon_2dp'] = df_pvout['longitude'].round(2)

In [8]:
df_pvout_grouped = df_pvout.groupby(['lat_2dp', 'lon_2dp', 'month']).mean().reset_index()

In [8]:
combined_df = pd.merge(
    df_pvout, 
    df_irr, 
    left_on=['latitude', 'longitude', 'month'], 
    right_on=['latitude', 'longitude', 'month'],
    how='inner'
)