In [2]:
import pandas as pd
import torch

In [5]:
df = pd.read_csv('../Data/CSVS/csvs_combined.csv')
df.head()

   lat_2dp  lon_2dp  month     pvo  irradiance    elevation
0    18.85  -155.74      1  4.7340  194.719617 -2015.588257
1    18.85  -155.74      2  4.9785  221.339286 -2015.588257
2    18.85  -155.74      3  5.1175  243.341858 -2015.588257
3    18.85  -155.74      4  5.2020  264.600658 -2015.588257
4    18.85  -155.74      5  5.1510  273.507216 -2015.588257

In [6]:
X = df[['lat_2dp', 'lon_2dp', 'month', 'irradiance', 'elevation']].values
y = df['pvo'].values

X_tensor = torch.tensor(X, dtype=torch.float32)
y_tensor = torch.tensor(y, dtype=torch.float32)