In [1]:
import pandas as pd
import torch

In [2]:
df = pd.read_csv('../Data/CSVS/csvs_combined.csv')
df.head()

   lat_2dp  lon_2dp  month     pvo  irradiance    elevation
0    18.85  -155.74      1  4.7340  194.719617 -2015.588257
1    18.85  -155.74      2  4.9785  221.339286 -2015.588257
2    18.85  -155.74      3  5.1175  243.341858 -2015.588257
3    18.85  -155.74      4  5.2020  264.600658 -2015.588257
4    18.85  -155.74      5  5.1510  273.507216 -2015.588257

In [15]:
location_avg = df.groupby(['lat_2dp', 'lon_2dp']).agg({
    'pvo': 'mean',
    'irradiance': 'mean',
    'elevation': 'mean'
}).reset_index()
print(location_avg)

location_avg.to_csv('../Data/CSVS/location_agg.csv', index=False, encoding='utf-8')

        lat_2dp  lon_2dp       pvo  irradiance    elevation
0         18.85  -155.74  4.988375  238.993130 -2015.588257
1         18.85  -155.70  4.975792  238.057365  -628.072632
2         18.85  -155.66  4.981292  238.224194  -996.744873
3         18.85  -155.62  5.004083  238.767144 -1880.156860
4         18.89  -155.78  4.933083  237.785906 -1788.161011
...         ...      ...       ...         ...          ...
452618    59.97  -138.78  2.874167  105.470786  1634.174072
452619    59.97  -138.74  2.767167   91.762697  1560.965332
452620    59.97  -138.70  3.155167   90.427910  1198.920898
452621    59.97  -138.66  3.325750   92.296680  1127.904053
452622    59.97  -138.62  3.368833  101.603930  1063.649780

[452623 rows x 5 columns]

In [16]:
df = pd.read_csv("../Data/CSVS/location_agg.csv")

X = df[['lat_2dp', 'lon_2dp', 'irradiance', 'elevation']].values
y = df['pvo'].values

X_tensor = torch.tensor(X, dtype=torch.float32)
y_tensor = torch.tensor(y, dtype=torch.float32)